.iconDetails {
 margin-left:2%;
float:left; 
height:200px;
width:160px; 
} 

h3 {
margin:0px;
}

.container2 {
    border-bottom: 1px solid $grey-color-light;
    width:100%;
    height:auto;
    padding:1%;
}
